*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color:white; */
    /* background-color :rgb(36, 36, 34); */
    /* background-color: rgba(69, 86, 125, 1); */
    /* color: white; */

}

body, main, footer, nav{
    position: relative;
    margin: 0;
    padding: 0;
}

.yellow-text{
    color:rgb(236, 220, 74);
}

nav{
    background-color:transparent;
    padding: 2rem;
    margin-bottom: 2rem;
    position:fixed;
    z-index: 10;
    max-height: 70px;    
}

nav > div > img{
    width: 30%;
    min-width: 70px;
}

.flex{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 25px;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-right: 20px;    
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

nav a:hover{
    border-bottom: 2px solid white;
    color: white;
    }


.section1{
    position: relative;
    display: flex;
    flex-direction: row;
    /* gap:5px; */
    width:100%;
    min-height:700px;
    background-color :rgb(36, 36, 34);
    justify-content: center;
    text-align: center;
    align-items: center;
    
    /* background-image: url(./PharyAtOperaHouseCut.jpg); */
    /* background-size: 50%; */
    background-position:center center;
    background-attachment: fixed;
    background-size: cover !important;
    background-repeat: no-repeat;
    overflow: hidden;
    
    
}

.mypic-div{
    text-align: right;
    align-items: flex-end;
}


.section1 div img{
    width:80%;
    max-width: 360px;
    border-radius: 50%;

}
        

h1{
    font-size:4.5rem;
    color: white;
}


.section1 p{
    font-size: 2rem;
    font-style: italic;
    color:whitesmoke;
}

.section2{
    position: relative;
    display: block;
    /* width: 100%; */
    height:150px;
    background-color:rgb(7, 34, 68);
    text-align: center;   
    /* margin-top: 0; */
}



.sect2-content{
    position: absolute;
    width: 100%;
    text-align: center;
    vertical-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color:white;
}

.section3{
    display: grid;
    background-color:rgb(7, 34, 68);
    grid-template-columns: repeat(auto-fit,minmax(360px,2fr));
    gap: 2rem;
    text-align: center;
    justify-content: space-around;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    margin-right: auto;
    margin-left: auto;
 
}

.pic{
    margin:0.5rem;
}


.heading2{
    grid-area: cell1;
    position: relative ;
    }

.sect2-content h3{
    color: white;
    width: 40%;
    margin-bottom: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 0.8rem 2.5rem;
    position:relative;

    height: 100%;
    margin-top:40px;
    font-size: 3rem;
    outline-style: solid;
    outline-color: white;
    outline-width: 5px;
    color: yellow;
    /* text-decoration: none;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px; */
}

.section3 img{
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
    margin-right:auto;
    margin-left: auto;
}


.caption{
    background-color:rgb(19, 130, 145);
    color: white;
    padding: 13px;
    font-size: 1.3rem;
}

.section4{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:rgb(11, 20, 27); */
    height:200px;    


    background-position:center center;
    background-attachment: fixed;
    background-size: cover !important;
    background-repeat: no-repeat;
    overflow: hidden;
    
}


.button{
    font-weight: bolder;
    font-size: 1.5rem;
    background-color :rgb(236, 220, 74);
    color: rgb(7, 7, 7);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
} 


footer{
    position:relative;
    height: 50px;
    background-color:rgb(7, 34, 68);
}

footer p{
    color:white;
    font-style:italic;
    font-weight: bolder;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



/* Media Query */
/* For desktop devices  */
@media (min-width: 1025px) {
    .section1, .section4{
        background-image: url(./img/bg4.jfif)!important;
    }

  

}


/* For tablets */
@media screen and (min-width:481px) and (max-width:1024px){
    nav a{
        font-size: 1rem;
    }

    h1{
        font-size: 3rem;
    }
    
    .section1{
        flex-direction: column;
    }

 
    .caption{
        font-size: 1.2rem;
    }

    .section1 p{
        font-size:1.5rem;
        
    }
    .sect1-content h1{
        padding-top:1rem;
        padding-bottom: 1rem;
        font-size: 2rem;
    }
   
    .section1, .section4{
        background-image: url(./img/bg4.jfif)!important;
    }

    .sect2-content h3{
        font-size: 1.5rem;
        line-height: 35px;
        width: 70%;
        padding:0.8rem;
        outline-width: 2px;
        text-transform: uppercase;
    }


    footer p{
        font-size: 0.8rem;
    }


}

/* for phone  */
@media screen and (max-width:480px){
    nav a{
        font-size: 0.7rem;
    }

    h1{
        font-size: 2rem;
    }

    .section1{
        flex-direction: column;
    }

    .section1 p{
        font-size:1.2rem;
    }

    .sect1-content h1{
        padding-top: 1rem;
        font-size: 2rem;
    }


    
    .section1, .section4{
        background-image: url(./img/bg4.jfif)!important;
    }


    .sect2-content h3{
        font-size: 1.5rem;
        line-height: 35px;
        width: 90%;
        padding:0.8rem;
        outline-width: 2px;
        text-transform: uppercase;
    }


    .caption{
        font-size: 1rem;
    }

    footer p{
        font-size: 0.6rem;
    }

    

}