*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
    /* background-color :rgb(36, 36, 34); */
    /* background-color: rgba(69, 86, 125, 1); */
    /* color: white; */

}

body, main, footer, nav{
    position: relative;
}

.yellow-text{
    color:rgb(236, 220, 74);
}

nav{
    background-color: rgb(19, 16, 16);
    padding: 1rem;
    position:fixed;
    z-index: 10;
    max-height: 70px;    
}

nav > div > img{
    width: 30%;
    min-width: 70px;
}

.flex{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 25px;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-right: 20px;    
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

nav a:hover{
    border-bottom: 2px solid white;
    color: white;
    }


.section1{
    position: relative;
    display: block;
    width:100%;
    min-height:400px;
    background-color :rgb(36, 36, 34);
    text-align: center;   
}

.sect1-content{
    position: absolute;
    width: 100%;
    text-align: center;
    vertical-align: center;
    top: 50%;
    transform: translateY(-50%);
}
        

h1{
    font-size:4rem;
    color: white;
}


.section1 p{
    font-size: 2rem;
    font-style: italic;
    color:whitesmoke;
}

.section2{
    position: relative;
    display: block;
    /* width: 100%; */
    height:250px;
    background-color :rgb(49, 45, 49);
    text-align: center;   
    /* margin-top: 0; */
}

.sect2-content{
    position: absolute;
    width: 100%;
    text-align: center;
    vertical-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 3rem;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5%;
}

.section3{
    display: grid;
    /* width: 100%; */
    background-color :rgb(49, 45, 49);
    grid-template-columns: repeat(auto-fit,minmax(520px,2fr));
    gap: 2rem;
    text-align: center;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    /* padding-bottom: 5rem; */
    margin:0 auto;
    /* margin-bottom: 6rem; */
}

.heading2{
    grid-area: cell1;
    position: relative ;
    }

.heading2 h3{
    color: white;
    width: 100%;
    height: 100%;
    margin-top:40px;
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

.section3 img{
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
}


.caption{
    background-color:rgb(19, 130, 145);
    color: white;
    padding: 13px;
    font-size: 1.7rem;
}

.section4{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(69, 86, 125, 1);
    height:200px;    
    
}


.button{
    /* position:absolute; */
    font-weight: bolder;
    font-size: 1.5rem;
    background-color :rgb(34, 29, 29);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    
} 


footer{
    margin-top: 20px;
    margin-bottom: 10px;
}

footer p{
    text-align: center;
    font-style:italic;
    font-weight: bolder;
    
}



/* Media Query */

@media screen and (min-width:768px) and (max-width:1023px){
    nav a{
        font-size: 1rem;
    }

    h1{
        font-size: 3rem;
    }

    .sect2-content h3{
        font-size: 2rem;
    }

}


@media screen and (max-width:767px){
    nav a{
        font-size: 0.8rem;
    }

    h1{
        font-size: 2rem;
    }

    .sect2-content h3{
        font-size: 1.5rem;
    }

}